@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


body {
  color: white;
  background-color: #000; 
  font-family: 'Outfit', 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}
